@import "./_fonts.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "IranSansRegular";
}

#root {
    min-height: 100vh;
}

input {
    font-family: sans-serif!important;
}

label {
    font-family: "IranSansRegular" !important;
    font-size: 1.1rem !important;
}

h1,
h2,
h3 {
    font-family: "IranSansBold";
}

li {
    list-style: none;
}

img {
    height: 100%;
    width: 100%;
}

tr {
    transition: all .35s ease-in-out !important;
    cursor: auto;
}

td {
    font-family: "IranSansRegular" !important;
    font-size: 1.1rem !important;
    transition: all .35s ease-in-out !important;
}

th {
    font-family: "IranSansBold" !important;
    font-size: 1.2rem !important;
}

tfoot {
    div {
        direction: ltr !important;
    }
}