.header {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    &-title {
        font-size: 1.7rem;
        color: var(--txt-color);
    }
}

.table-container {
    width: 80% !important;
    margin: 0 auto;
    max-height: 25rem !important;
    overflow-y: auto;
}

.empty-message {
    text-align: center;
    figure {
        max-width: 350px;
        height: 300px;
        margin: 1rem auto;
    }
    overflow: hidden;
    animation: scaleAnime 1.5s .5s infinite ease-in-out alternate;
    transform: scale(0);
}

tfoot {
    div {
        direction: ltr !important;
    }
    position: sticky;
    bottom: 0;
    background-color: var(--txt-color3)
}

table thead {
    position: sticky;
    top: 0;
}

// animation
@keyframes scaleAnime {
    100% {
        transform: scale(1) rotate(360deg);
    }
}