.header {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    &-title {
        font-size: 1.7rem;
        color: #212121;
    }
}

.table-container {
    width: 80% !important;
    margin: 0 auto;
    height: clamp(30rem, 5rem, 30rem);
    overflow-y: auto;
}

table thead {
    position: sticky;
    top: 0;
}