.header {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    &-title {
        font-size: 1.7rem;
        color: var(--txt-color);
    }
}

.table-container {
    width: 80% !important;
    margin: 0 auto;
    max-height: 25rem !important;
    overflow-y: auto;
}

tfoot {
    div {
        direction: ltr !important;
    }
    position: sticky;
    bottom: 0;
    background-color: var(--txt-color3)
}

table thead {
    position: sticky;
    top: 0;
}