@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRAN/IRAN.eot') format("eot");
    src: url('../fonts/IRAN/IRAN.ttf') format('ttf');
    src: url("../fonts/IRAN/IRAN.woff") format("woff");
}

@font-face {
    font-family: 'IranSansRegular';
    src: url('../fonts/IRANSansRegular/IRANSansRegular.eot') format("eot");
    src: url('../fonts/IRANSansRegular/IRANSansRegular.ttf') format('ttf');
    src: url("../fonts/IRANSansRegular/IRANSansRegular.woff") format("woff");
}

@font-face {
    font-family: 'IranSansBold';
    src: url('../fonts/IRANSansBold/IRANSansBold.eot') format("eot");
    src: url('../fonts/IRANSansBold/IRANSansBold.ttf') format('ttf');
    src: url("../fonts/IRANSansBold/IRANSansBold.woff") format("woff");
}